<div class="container">
  <p class="lead">What People Are Saying</p>
  <div class="row">
        
  <div class="testimonial-item col-md-3" style="margin-right: 9em">
      
    <p>I started to follow Tweet Speak English as I was looking for a constant, interesting and well created flow of english bites. Something that I could follow everyday according to my busy schedule. TSE helps me in taking <strong>confidence with the spoken language</strong> shades, new informal expressions that you cannot learn in most of english classes.
      <br>
      <br>
    </p>
      
    <div class="testimonial-item__author">
      <div class="testimonial-item__avatar segment-quote">
        <picture>
        <!--[if IE 9]><video style="display: none;"><![endif]-->
          <img alt="Cristiano" src="https://dl.dropboxusercontent.com/s/df8j4s9gpwwqok1/cristiano_testimonial.jpg?dl=0">
        </picture>

      </div>

      <strong>Cristiano</strong>
      <p>Student from Italy</p>
    </div>
  </div>
        
  <div class="testimonial-item col-md-3" style="margin-right: 9em">
      
    <p>TSE is practical and convenient - the lessons are fun and engaging. Each task is designed in bite-size; <b>allows you to learn at your own pace.</b> I also <em>LOVE</em> the feature where you can record yourself and get a feedback. It will help you ready for your next challenge in no time! Learning English naturally - I highly recommend it!
    <br>
    <br>
    <br>
    </p>
      
    <div class="testimonial-item__author">
      <div class="testimonial-item__avatar segment-quote">
        <picture>
        <!--[if IE 9]><video style="display: none;"><![endif]-->
          <img alt="Misako" src="https://dl.dropboxusercontent.com/s/w8zemm2dg8dp9xt/misako.png">
        </picture>

      </div>

      <strong>Misako</strong>
      <p>Student from Japan</p>
    </div>
  </div>

  <div class="testimonial-item col-md-3">
      
    <p>I really like TSE's method. With every lesson, I pretend to be the one who wrote it. Because every tweet is written by a native speaker, <b>I can learn how to use words or phrases in a certain context and situation.</b> I never feel bored. The recording feature helps improve English pronunciation and stress. It's good for anyone wanting to become fluent in English.
    </p>
      
    <div class="testimonial-item__author">
      <div class="testimonial-item__avatar segment-quote">
        <picture>
        <!--[if IE 9]><video style="display: none;"><![endif]-->
          <img alt="Hoang" src="https://dl.dropboxusercontent.com/s/6cryt1gcz34rpal/hoang.jpg">
        </picture>

      </div>

      <strong>Hoang</strong>
      <p>Student from VietNam</p>
    </div>
  </div>
</div>
</div>