<div style="max-width: 600px, font-family: Arial; font-size: 14px;">
	<p>
		Hi <% unless @user.name? %><%= @user.email %><%else%><%= @user.name %><%end%>,<br>
	</p>
	<p>
		This is a friendly reminder that you still have a free 7-day trial at <a href="<%= @url %>">Tweet Speak English</a>.
	</p>
	<p>
		If you're having a problem starting your trial, or have any questions, please email me. I'd love to help you!
	</p> 
	<p>
		If you don't have a credit card, or prefer paying some other way, please tell me.
	</p>
	<p>
		Thanks so much and I hope you'll get started on your free lessons today.
	</p>
	<p>
		Best regards,
	</p>
	<p>
		Nate Hill | Co-founder
	</p>
	<p>
		<a href="http://tweetspeakenglish.com">Tweet Speak English</a>
	</p>
</div>