<div style="max-width: 600px, font-family: Arial; font-size: 14px;">
	<p>
		Hi <% unless @user.name? %><%= @user.email %><%else%><%= @user.name %><%end%>,<br>
	</p>
	<p>
		It's been a couple of days since you joined us at Tweet Speak English. I just noticed you haven't started your free 7-day trial though.
	</p>
	<p>
		To get started with your free trial, you'll need to select the <a href="<%= @url %>">Monthly or Yearly plan</a>. You'll be asked to enter your credit card information.
	</p> 
	<p>
		<span style="background: yellow;"><b>Note, you will <em>not</em> be charged until 1 week later.</b></span>
	</p>
	<p>
		We use a payment service called Stripe.com. They securely store all of your information for us, and we never see the details of your credit card. You'll also notice that our page is secure with 'https' in the URL.
	</p>
	<p>
		If you don't wish to continue our lessons after 7 days, you can cancel easily with one click. Even if you forget and go a day or two over, please email me and I'll happily refund your charge.
	</p>
	<p>
		<b>Jason and I work hard to make these lessons, so we hope you'll try them!</b>
	</p>
	<p>
		If you don't love the lessons, please send me an email to let me know what we can do better to help you with your English.
	<p>
		Kind regards,
	</p>
	<p>
		Nate Hill | Co-founder
	</p>
	<p>
		<a href="http://tweetspeakenglish.com">Tweet Speak English</a>
	</p>
</div>