<div style="max-width: 600px, font-family: Arial; font-size: 14px;">
	<p>
		Hi <% unless @user.name? %><%= @user.email %><%else%><%= @user.name %><%end%>,<br>
	<p>
		Now that you know more about proper listening, it's time for you to start working on improving your speaking.
	</p>
	<p>
		As you train your ears to hear how to speak fluently as native speakers, you now need to connect your ears to your mouth.
	</p>
	<p>
		In Step 3 of every lesson, we give you two tools that will help you connect your ears to your mouth.
	</p>
	<p>
		First, we give you a real world example taken from Twitter. We chose Twitter because they're short, real examples of the way native speakers talk.
	</p>
	<p>
		There's audio of this tweet being spoken in natural, broken down chunks. Once slow, and once more fast.
	</p>
	<p>
		There's also a pronunciation guide so you can see this sentence written in an easy, phonectic alphabet. As you listen and practice with the audio, look at the guide, and try to visualize how each phrase sounds.
	</p>
	<p>
		Next, the most important part of connecting your ears to your mouth is recording yourself and getting feedback. This will show you where you need to improve.
	</p>
	<p>
		To do this, you can use our recorder. When you're happy with your recording, please submit it. We will personally review your recording, and give you personal feedback.
	</p>
	<p>
		It's really important to train in this way. It will help you to feel how English feels to your mouth, and your ears will be very sensitive. This helps you speak fluently without pausing as much.
	</p>
	<p>
		Plus, as you notice more and more improvement, you're confidence will soar.
	</p>
	<p>
		Head over to the site and set started today!
	</p>
	<p>
		You're doing great!
	</p>
	<p>
		Nate Hill | Co-founder
	</p>
	<p>
		<a href="http://tweetspeakenglish.com">Tweet Speak English</a>
	</p>
</div>