<div style="max-width: 600px, font-family: Arial; font-size: 14px;">
	<p>
		Hi <% unless @user.name? %><%= @user.email %><%else%><%= @user.name %><%end%>,<br>
	</p>
	<p>
		I believe listening is the most important communication skill we have.
	</p>
	<p>
		In fact, researchers say it's the number one skill we use on a daily basis. Much more than speaking, and even more than reading.
	</p>
	<p>
		<b>But, most English courses don't teach students how to listen.</b>
	</p>
	<p>
		Yes, there are always listening quizzes or activities, but not that many people talk about how to improve your listening skills.
	</p>
	<p>
		With your free trial, I've also given you my book, <a href="<%= @url %>">"4 Steps to Great Listening."</a>
	</p>
	<p>
		You can download it directly from your dashboard.
	</p>
	<p>
		I encourage you to read it, and pay attention to the strategies that you're interested in trying.
	</p>
	<p>
		You may have noticed by now, but our lessons start with a video. We don't ask you for comprehension of that video -- only that you pick out any words you hear.
	</p>
	<p>
		In a real conversation, this is what you do all the time. You listen to someone talking, and you match those words with words you know.
	</p>
	<p>
		But a lot of times, they might sound different than how you remembered them.
	</p>
	<p>
		So the key is to get faster at matching the words you hear with words you know. For this first step in our lessons, meaning is secondary. Most of the words are 'easy' words, but they may be used in phrases or expressions you don't understand.
	</p>
	<p>
		Don't worry about it! Remember, this activity is to help you practice matching any words you know, with how a native speaker says them in naturally timed rhythm.
	</p>
	<p>
		That's all for today! If you haven't <a href="<%= @url %>">logged in</a> to practice today, please find the time to do so!
	</p>
	<p>
		Keep up the good work!
	</p>
	<p>
		Nate Hill | Co-founder
	</p>
	<p>
		<a href="http://tweetspeakenglish.com">Tweet Speak English</a>
	</p>
</div>