<div style="max-width: 600px, font-family: Arial; font-size: 14px;">
	<p>
		Hi <% unless @user.name? %><%= @user.email %><%else%><%= @user.name %><%end%>,<br>
	<p>
		It's been a fast week!
	</p>
	<p>
		Today is already day 6 of your free trial.
	</p>
	<p>
		I really hope you've gotten a lot out of the lessons and activities.
	</p>
	<p>
		After tomorrow, you will not be able to access the lessons until after you choose a payment plan.
	</p>
	<p>
		We have a monthly, yearly, and one time payment option so you can choose the best for you.
	</p>
	<p>
		There are 365 lessons in total, enough for one a year. Every one of them teach you the English you need to know, and give you the training you need to improve your listening, fluency, and understanding of natural English that native speakers use all the time.
	</p>
	<p>
		And if you choose not to continue on with our lessons, we'll be sad to see you go, but you don't need to do anything. You will not be charged anything.
	</p>
	<p>
		Whatever you decide to do, we're glad to have you as part of our community! Come join our conversations on:
	</p>
	<p>
		<ul>
			<li><a href="@twitter">Twitter</a></li>
			<li><a href="@facebook">Facebook</a></li>
			<li><a href="@blog">Our Blog</a></li>
		</ul>
	</p>
	<p>
		Thank you for trying our lessons. I hope to see you around :)
	</p>
	<p>
		Sincerely,
	</p>
	</p>
	<p>
		Nate Hill | Co-founder
	</p>
	<p>
		<a href="http://tweetspeakenglish.com">Tweet Speak English</a>
	</p>
</div>