<div style="max-width: 600px, font-family: Arial; font-size: 14px;">
	<p>
		Hi <% unless @user.name? %><%= @user.email %><%else%><%= @user.name %><%end%>,<br>
	<p>
		Most of the time, native speakers don't use very high level vocabulary when they speak.
	</p>
	<p>
		So why can it be so hard to understand, even once you have great listening skills?
	</p>
	<p>
		It's because we use common phrases, slang, idioms, and phrasal verbs that don't really make logical sense a lot of times. So that makes it hard to remember.
	</p>
	<p>
		Natvie speakers learn how to use all of these by growing up with the language, and figuring out when to use which phrase. They rarely think of the meaning of the actual words. The expression has it's own meaning that is used during certain situations.
	</p>
	<p>
		In this <a href="http://news.psu.edu/story/265620/2013/02/21/society-and-culture/children-learn-better-when-they-figure-things-out">research</a>, they suggest children learn new words best when they figure them out on their own. They use the world they understand to work out how to use words and expressions.
	</p>
	<p>
		I've seen this with my own kids. When I say something for the first time, they repeat it, and then I can see their heads working. They're thinking about the context of the situation, and comparing that to knowledge they have.
	</p>
	<p>
		They then try to use it. If it's a little wrong, I tell them. After a couple of tries, they get it right. It's reinfoced every time they hear it again after that until they finally get it.
	</p>
	<p>
		In our course, we teach the phrases native speakers use. <b>But you need to go back and review them often</b>, listen for them in movies, TV shows, look for them in books and online... anytime you see it, it will reinforce how it's used.
	</p>
	<p>
		It's difficult to remember without using, so try to use it yourself in our discussion area, and get feedback from us and other learners.
	</p>
	<p>
		You've also got your <a href="<%= @url %>">personal dictionary</a> on the site that you can use for reference.
	</p>
	<p>
		Eventually, you too will figure out how to use the phrases we teach. But it will take time, and when you do, you'll learn it better.
	</p>
	<p>
		Be patient and hang int there!
	</p>
	<p>
		Nate Hill | Co-founder
	</p>
	<p>
		<a href="http://tweetspeakenglish.com">Tweet Speak English</a>
	</p>
</div>