<div style="max-width: 600px, font-family: Arial; font-size: 14px;">
	<p>
		Hi <% unless @user.name? %><%= @user.email %><%else%><%= @user.name %><%end%>,<br>
	<p>
		It's been a fast week!
	</p>
	<p>
		Today is already day 6 of your free trial.
	</p>
	<p>
		I really hope you've gotten a lot out of the lessons and activities.
	</p>
	<p>
		We're working on new fun courses, but our course 30 Days to Native is like the free trial course you just finished. Currently, it's 60% off and comes with a 30-day money back guarantee.
	</p>
	<p>
		<a href="http://tweetspeakenglish.com/courses/2">I hope you'll try it out here.</a>
	</p>
	<p>
		Whatever you decide to do, we're glad to have you as part of our community! Come join our conversations on:
	</p>
	<p>
		<ul>
			<li><a href="@twitter">Twitter</a></li>
			<li><a href="@facebook">Facebook</a></li>
			<li><a href="@blog">Our Blog</a></li>
		</ul>
	</p>
	<p>
		Thank you for trying our lessons. I hope to see you around :)
	</p>
	<p>
		Sincerely,
	</p>
	</p>
	<p>
		Nate Hill | Co-founder
	</p>
	<p>
		<a href="http://tweetspeakenglish.com">Tweet Speak English</a>
	</p>
</div>