<div style="max-width: 600px, font-family: Arial; font-size: 14px;">
	<p>
		Hi <% unless @user.name? %><%= @user.email %><%else%><%= @user.name %><%end%>,<br>
	</p>
	<p>
		How do you really spend your time learning English online?
	</p>
	<p>
		I always ask students this, but many of them don't have very specific answers.
	</p>
	<p>
		Learning English online is great. There is access to LOTS of free information, lessons -- whatever you can imagine.
	</p>
	<p>
		<b>But this actually harms your ability to focus.</b>
	</p>
	<p>
		As the book "Paradox of Choice" teaches us, the more options we have, the worse we are at choosing what to do.
	</p>
	<p>
		Learning online, it is easy to bounce around from one thing to the next, and spend your time without focus on a solid goal.
	</p> 
	<p>
		<b>How do you fix this?</b>
	</p>
	<p>
		By seeing exactly how you learn online!
	</p>
	<p>
		I've created a spreadsheet for you to do that <a href="https://docs.google.com/spreadsheets/d/1eTT9EghcA6q4rMq05GvAfhvrPwHxhXfgEhErzuP_62Q/edit?usp=sharing">here</a>. It creates a visual graph so you can see how you spend your time.
	</p>
	<p>
		I've also written a <a href="http://blog.tweetspeakenglish.com/posts/really-spend-time-learning-english/">blog post</a> on how to use this tool and create a daily study plan.
	</p>
	<p>
		If you struggle to learn English with focus every day, you need to go read that today.
	</p>
	<p>
		That's all for today :)
	</p>
	<p>
		I'll send you some tips about listening skills tomorrow, so look out for that email!
	</p>
	<p>
		Talk to you later,
	</p>
	<p>
		Nate Hill | Co-founder
	</p>
	<p>
		<a href="http://tweetspeakenglish.com">Tweet Speak English</a>
	</p>
</div>