<div style="max-width: 600px, font-family: Arial; font-size: 14px;">
	<p>
		Welcome to Tweet Speak English, <% unless @user.name? %><%= @user.name %><%else%><%= @user.email %>!<br>
	</p>
	<p>
		Thank you so much for joining us. It's our goal to help you improve your English listening and speaking skills, so please let us know any time how we can help you.
	</p>
	<p>
		You can login to your account with your email here: <%= @url %>.
	</p>
	<p>
		To access your free 7-day trial of our lessons, you will first need to provide your credit card information. <b>Note, you will <em>not</em> be charged until 1 week later.</b>
	</p>
	<p>
		We use a payment service called Stripe.com. They securely store all of your information for us, and we never see the details of your credit card. You'll also notice that our page is secure with 'https' in the URL.
	</p>
	<p>
		If you don't wish to continue our lessons after 7 days, you can cancel easily with one click. Even if you forget and go a day or two over, please email me and I'll happily refund your charge.
	</p>
	<p>
		<b>Again, it's great to have you here!</b> We're here for you, and we want to help you every way we can. Please email us any time, or contact us by clicking on the '?' at the bottom left of every page on the site.
	</p>
	<p>
		Sincerely,
	</p>
	<p>
		Nate Hill | Co-founder
	</p>
	<p>
		TweetSpeakEnglish.com
	</p>
</div>