<div style="max-width: 600px, font-family: Arial; font-size: 14px;">
	<p>
		Welcome to Tweet Speak English, <% unless @user.name? %><%= @user.email %><%else%><%= @user.name %><%end%>!<br>
	</p>
	<p>
		Thank you so much for joining us. It's our goal to help you improve your English listening and speaking skills.
	</p>
	<p>
		To help us do that, we'd like to ask you <a href="http://www.rationalsurvey.com/s/3827">five questions</a>. Please take a minute to answer those, thanks!
	</p>
	<p>
		You can login to your account with your email here: <%= @url %>.
	</p>
	<p>
		You should be able to login and start lessons in your free starter course.
	</p>
	<p>
		<b>This starter course is yours forever, and even if you never buy another course, you'll always have access to this course.</b>
	</p>

	<p>
		<b>Again, it's great to have you here!</b> We're here for you, and we want to help you every way we can. Please email me any time, or contact me by clicking on the '?' at the bottom left of every page on the site.
	</p>
	<p>
		Sincerely,
	</p>
	<p>
		Nate Hill | Co-founder
	</p>
	<p>
		TweetSpeakEnglish.com
	</p>
  <p><b>PS - I'll be sending you some emails to help you get started. Look for the first one tomorrow!</p>
</div>