
Welcome to Tweet Speak English, <% unless @user.name? %><%= @user.email %><%else%><%= @user.name %><%end%>!
	
Thank you so much for joining us. It's our goal to help you improve your English listening and speaking skills, so please let us know any time how we can help you.

To help us do that, we'd like to ask you <a href="http://www.rationalsurvey.com/s/3827">five questions</a>. Please take a minute to answer those, thanks!
	
You can login to your account with your email here: <%= @url %>.
	
You should be able to login and start lessons immediately with your free trial.
	
Your trial will end in 7 days. Then, you'll need to provide your payment information to continue using the site.
	
*Again, it's great to have you here!* We're here for you, and we want to help you every way we can. Please email us any time, or contact us by clicking on the '?' at the bottom left of every page on the site.
	
Sincerely,
	
Nate Hill | Co-founder
	
TweetSpeakEnglish.com
