<div id="putTheWidgetHere"></div>
<script type="text/JavaScript">
  SC.oEmbed("<%= track.track_url %>", {
  	color: "01aef0",
    maxheight: "100px"
    },  document.getElementById("putTheWidgetHere"));
</script>