<div id="putTheWidgetHere"></div>

<script type="text/JavaScript">
  SC.oEmbed("<%= track.track_url %>", {
    theme_color: "ffffff",
    maxheight: 166,
    show_artwork: true,
    show_user: false,
    visual: false
    }, function(oEmbed) { 
      if (oEmbed) $('#putTheWidgetHere').html(oEmbed.html.replace('visual=true&',''));
    });
</script>