<div id="recorder">
  <div class="timer">
    <span id="timer">0:00</span>
  </div>
  <div class="record-button">
    <a href="#" id="recordBtn" class="button"><span class="glyphicon glyphicon-record"></span></a>
  </div>
  
    <a href="#" id="stopBtn" class="button"></a>
 

  <div id="otherControls">
    <a href="#" id="resetBtn" class="btn btn-danger">Reset</a>
    <a href="#" id="uploadBtn" class="button"></a>
  </div>

  <div id="uploadStatus"></div>
</div>

<script>
  var recorder = new SoundRecorder('<%= track_title %>');

  $("#recordBtn").click( function(e){
    recorder.start();
    e.preventDefault();
  });

  $("#stopBtn").click( function(e){
    recorder.stop();
    e.preventDefault();
  });

  $("#resetBtn").click( function(e){
    recorder.reset();
    e.preventDefault();
  });

  $("#uploadBtn").click( function(e){
    recorder.upload(saveTrack);
    e.preventDefault();
  });

  function saveTrack(track) {
    $.post( "<%= track_url %>", { track: { track_url: track.uri } })
      .done( function( result ) {
        $("#uploadStatus").html('Record uploaded');
      });
  }
</script>