<%= form_for(@language) do |f| %>
	<div class="form-group">
		<p>Choose your native language below.</p>
		<p><b>If you don't see your language, enter it in the box below</b></p>
      	<%= f.text_field :name, :autofocus => true, class: "form-control", placeholder: "What's your native language?" %>
    </div>
    <div class="form-group">
      	<%= f.text_field :english_name, class: "form-control", placeholder: "English name" %>
    </div>
    <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>