<div class="paper">
	<% @cards.each do |card| %>
		<h3>English</h3><%= card.keyphrase.title %><br>
		<h3><%= @language.name %></h3><%#= card.definition.title %>
		<%= render partial: "definitions/form", locals: {card: card, keyphrase_id: card.keyphrase.id } %>

	<% end %>



	<% if @cards.current_page < @cards.total_pages %>
   	<%= link_to "Next", "?page=#{@cards.current_page+1}" %>
	<% end %>

	<div id="results"></div>
</div>