<div class="featurette">

  <div class="row">
    <div class="container">

      <div class="col-sm-3">
        <div class="center-block">
          <img src="https://dl.dropboxusercontent.com/s/4pakl20i7u85cxo/30-day-money-back-badge.jpg?dl=0" class="img-responsive" alt="30 day money back guarantee">
        </div>
      </div>

      <div class="col-sm-9">
        <h2 class="featurette-title">30 Day Money Back Guarantee</h2>
        <p class="lead">Try this course today, worry-free. There's absolutely no risk with our <strong>30 Day Money Back Guarantee</strong>. If you're not happy with the course, we'll give you 100% of your money back.</p>
      </div>

    </div> <!-- // container -->
  </div><!--  // row -->
</div> <!-- // featurette -->