<div class="featurette" style="background: #f9fafa; border-top: 1px solid #e5e5e5; border-bottom: 1px solid #e5e5e5;">
  <div class="container">
    <h2 class="featurette-title">We're here for you.</h2>
    <p class="lead">The teachers at Tweet Speak English</p>
    <div class="row">
      <div class="col-sm-6">
        <div class="center-block">
            <img width="250px" src="https://dl.dropboxusercontent.com/s/1xnd5qai0o3yevf/Nate%20Hill.jpg?dl=0" class="img-responsive img-circle" alt="nate hill creator of tweet speak english">
            <p class="lead top-space">Nate Hill</p>
            <p>Nate loves seeing the look in a student's eyes when she really understands something, and gains the confidence to believe, "Wow, I really can do this."</p>
            <p>Teaching English since 2003, Nate has worked with a variety of students of all ages. He's been in Japan since 2006.</p>
            <p>He's also the founder of <a href="http://fluentli.com">Fluentli</a>, a Q&A site for language learners.</p>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="center-block">
            <img width="250px" src="https://dl.dropboxusercontent.com/s/x8evyvm1c652t8h/Jason-profile-pic-300x300.jpg?dl=0" class="img-responsive img-circle" alt="jason smith creator of tweet speak english">
            <p class="lead top-space">Jason Smith</p>
            <p>Jason started teaching English in 2005. He is passionate about helping foreign language learners build connections and share culture.</p>
            <p>Jason has lived in many places around the world, from Vienna, Austria, to Seattle in the United States, and currently resides in Kochi, Japan.</p>
        </div>
      </div>
    </div> <!-- // row -->
  </div><!--// container-->
</div><!-- // featurette -->