<% title "About learning English with Tweet Speak" %>
<% meta_description "Learn how you can improve spoken English with Tweet Speak English lessons." %>

<div class="featurette-text-left">
  <div class="container-fluid">
    <h2 class="featurette-title-center">Ready to learn the English you need to succeed?</h2><br>
    <p class="lead">Learning English is about <b>reaching your dreams...</b> <br>About living the life you want. English is the tool to get you there, and <b>it's our goal to help you do that!</b></p>

    <hr class="half-rule">

    <h2 class="featurette-title-center">
        First, which one best describes you?
    </h2>
    <br>

    <div class="panel-group skinny" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading-blue" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" style="cursor: pointer;">
          <h4 class="panel-title center">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
              I'm an English teacher, but not a native speaker.
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
          <div class="panel-body skinnier">
            <p class="lead">As a teacher, you want to give your students the best English education you can, right?</p>

            <p>You also want to create the best career you can, right?</p>

            <p>Mastering English is a lifelong process because you've got to live the language. That's what makes it so fun anyway!</p>

            <p>Language always changes, and you want to teach your students English they can use to communicate with others and succeed, and you also need to get higher scores on tests to find better teaching positions.</p>

            <p>That's a lot of pressure!</p>

            <p><b>You can do all of this on your own, but we're here to help with your goals of:</b></p>

            <ul>
                <li>Getting higher paying jobs.</li>
                <li>Improving your global communication skills.</li>
                <li>Becoming the best teacher you can to help as may students succeed as you can.</li>
            </ul>

            <p>How do we help?</p>

            <p>Easy! We do the hard work of finding natural, current English and making lessons that improve your understanding, listening, and pronunciation.</p>

            <p><b>You'll gain the confidence you need</b> because you'll know you're giving your students everything you can.</p>

            <p>Wouldn't it be great to have a resource like this?</p>

            <p>We look forward to getting to know you! Go ahead and sign up for your free 7-day trial to get started.</p>

            <hr class="half-rule">

            <p class="lead">Start your Free 7 Day Trial today.</p>

            <%= render 'layouts/horizontal_signup_light' %>

            <hr class="half-rule">
           </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading-blue" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" style="cursor: pointer;">
          <h4 class="panel-title center">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
              I'm a young professional who needs English for work.
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
          <div class="panel-body skinnier">
            <p class="lead">Improving your English so you can get a promotion?</p>
            
            <p>If you can speak English fluently with people all over the world in a natural way, you can really stand out at your company.</p>

            <p>Doing business in a foreign language is always very scary because it's so difficult to feel confident. <b>And for good business, you need to show your confidence!</b></p>
            
            <p>Not only do you have to act naturally and speak comfortably, with confidence, to people you work with, <b>there are also cultural differences that make communicating awkard at times</b>.</p>
            <blockquote>Imagine yourself at an important meeting. Your company is trying to close a deal with an American company. Everything seems to be going great until there seems to be some miscommunication.
            
            <p>No one from your side of the table is sure what to say, but you're able to come in with the perfect response. You clear the air, everyone is on the same page again, and the deal is a success because of you.</p></blockquote>
            
            <p>Can you see how important you'd be at your company?</p>
            
            <p>Wouldn't your bosses want to give you a promotion?</p>
            
            <p>Would your co-workers wish they could speak English as confidently as you?</p>
            
            <p>Yes, of course!</p>
            
            <p><b>Our lessons will help you get to this level by:</b>
            <ul>
              <li>Training your ears to hear English at natural speeds.</li>
              <li>Showing you how words should really be spoken in a sentence.</li>
              <li>Giving you an insight into culture and how native speakers think.</li>
            </ul>
            </p>

            <p><b>If developing professionally is your goal, our lessons will give you the confidence you need to be a success and have more fun at work.</b></p>
            
            <p>We're dedicated to helping you, and it's our goal to see you succeed!</p>

            <hr class="half-rule">

            <p class="lead">Sound good? Start your Free 7 Day Trial today.</p>

            <%= render 'layouts/horizontal_signup_light' %>

            <hr class="half-rule">
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading-blue" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" style="cursor: pointer;">
          <h4 class="panel-title center">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
              I'm still a student... but I have big dreams!
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
          <div class="panel-body skinnier">
            <p class="lead">You have big dreams. Are they possible?...<br>
            Of course! And we're here to help!</p>

            <p>When you have a big dream, knowing English is usually an important step.</p>
            
            <p>This makes you different from other students.</p>
            
            <p>They only learn English because they're being forced to.</p>
            
            <p>But you know that English is just a very important stepping stone that will help you reach your dreams.</p>
           
           <p><b>Do any of these sound like your dreams?</b>
            <ul>
              <li>I need English to get my dream job abroad.</li>
              <li>I need English to share my ideas with the whole world.</li>
              <li>I need English so I can get a scholarship to the best universtities in America.</li>
            </ul>
           </p>
            
            <p>Whatever your dream is, if English is an important step to making that a reality, we're here to help you!</p>
            
            <p>For so many English students around the world, they are stuck learning the English a textbook says they need to know.</p>
            
            <p>The problem is, these textbooks usually do a terrible job teaching you the kind of English that is really used in every day situation.</p>
            
            <p>With our lessons, we search for tweets that have examples of useful English that native speakers use every day.</p>
            
            <p>Why?</p>
            
            <p>Because people tweet more like how they speak.</p>
            
            <p>You can also gain cultural insights in tweets that help you understand how to communicate better.</p>
            
            <p><b>In all of our lessons, you'll get:</b>
            <ul>
              <li>A video of a native speaker chanting some key phrases to catchy music. This trains your ears to the natural rhythms of English.</li>
            
              <li>A pronunciation guide that shows you how each word should really sound.</li>
            
              <li>Downloadable audio so you can continue practicing anywhere.</li>
            
              <li>A discussion area where you can learn how to use key phrases, ask for help, or submit your own sentences to be checked by us.</li>
            </ul>
            </p>

            <p>You have big dreams, and lots of time for them to come true.</p> 

            <p>They may seem impossible some times, but we want to be here to give you the support you need!</p>
            
            <p>You can't do anything alone, so please join our community today and start learning the English you need to succeed!</p>

            <hr class="half-rule">

            <p class="lead">Sound good? Start your Free 7 Day Trial today.</p>

            <%= render 'layouts/horizontal_signup_light' %>

            <hr class="half-rule">
          </div>
        </div>
      </div>
    </div><!--end accordian-->

    <hr class="half-rule">

            <p class="lead">Ready to go? Start your Free 7 Day Trial today.</p>

            <%= render 'layouts/horizontal_signup_light' %>

            <hr class="half-rule">

  </div>
</div>

<div class="featurette" style="background: #f9fafa; border-bottom: 1px solid #e5e5e5;">
  <div class="container">
    <h2 class="featurette-title">We're here for you.</h2>
    <p class="lead">The teachers at Tweet Speak English</p>
    <div class="row">
      <div class="col-sm-6">
        <div class="center-block">
            <img width="250px" src="https://dl.dropboxusercontent.com/s/1xnd5qai0o3yevf/Nate%20Hill.jpg?dl=0" class="img-responsive img-circle" alt="nate hill creator of tweet speak english">
            <p class="lead top-space">Nate Hill</p>
            <p>Nate loves seeing the look in a student's eyes when she really understands something, and gains the confidence to believe, "Wow, I really can do this."</p>
            <p>Teaching English since 2003, Nate has worked with a variety of students of all ages. He's been in Japan since 2006.</p>
            <p>He's also the founder of <a href="http://fluentli.com">Fluentli</a>, a Q&A site for language learners.</p>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="center-block">
            <img width="250px" src="https://dl.dropboxusercontent.com/s/x8evyvm1c652t8h/Jason-profile-pic-300x300.jpg?dl=0" class="img-responsive img-circle" alt="jason smith creator of tweet speak english">
            <p class="lead top-space">Jason Smith</p>
            <p>Jason started teaching English in 2005. He is passionate about helping foreign language learners build connections and share culture.</p>
            <p>Jason has lived in many places around the world, from Vienna, Austria, to Seattle in the United States, and currently resides in Kochi, Japan.</p>
        </div>
      </div>
    </div>
  </div><!--end container-->
</div><!-- End featurette about us -->
