<div class="featurette-text-left">
  <div class="container-fluid">
    <h2 class="featurette-title-center">How to Learn English with Tweet Speak English</h2>
    <p class="lead">Learning English isn't about taking a course. It isn't about memorizing words. It isn't about tests. So, what is it about...?</p>

    <p>Well, only you really know the answer to that.</p>

    <p>But we like to believe it's about gaining the skills you need to:</p>
    	<ul>
    		<li>Communicate with others around the world.</li>
    		<li>Share your ideas with others, and learn from them as well.</li>
    		<li>Live the life you want to live.</li>
    		<li>And so much more.</li>
    	</ul>
    <p>You have many reasons for wanting to improve your English, but it all starts with having a great source for learning the English that will help you reach your dreams.</p>


    <hr class="half-rule">

    <p class="lead">That's exactly what our lessons are. Start your Free 7 Day Trial today.</p>

    <%= render 'layouts/horizontal_signup_light' %>

    <hr class="half-rule">

  </div>
</div>
