<% title "Dictionary" %>
<div class="paper">
	<div class="container-fluid">
		<h1 class="dictionary">Dictionary</h1>
    <% ('A'..'Z').each do |i| %>
    <h2 class="dictionary"><%= i.capitalize %></h2>
      <% (all_lesson_ids).each do |id| %>
        <% lesson = Lesson.find(id) %>
        <% tags = lesson.tags.split(', ') %>

        <% tags.each_with_index do |tag, index| %>
          <% letter = tag[0].capitalize %>
          <ul>
          <% if letter == i %>
            <li><a href="courses/<%= lesson.course.id %>/lessons/<%= id %>/step/4"><%= tag %></a></li>
          <% end %>
          </ul>

        <% end %>
      <% end %>
    <% end %>
	</div>
</div>


