<div id="carousel-course" class="carousel slide" data-ride="carousel" style="margin:0 44px;">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active" style="height: 360px;">
      <%= image_tag @course.course_image.url(:medium) %>
      <div class="carousel-caption">
        Course Image
      </div>
    </div>
    <div class="item" style="height: 360px;">
      <iframe src="//player.vimeo.com/video/110602645?title=0&byline=0&portrait=0&badge=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<p><a href="https://vimeo.com/110602645">High Maintenance - Trailer</a> from <a href="https://vimeo.com/highmaintenance">Janky Clown Productions</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-ecourse" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-course" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<script>
  $('.carousel').carousel({
    interval: false
  })
</script>