<h1>Card</h1>

<% if @cards.updated_at.to_i < DateTime().now.to_i - 300 %>
<%= @cards.keyphrase %>
<%= @cards.keyphrase.definition %>
<% @cards.touch %>
<% else %>
Already read
<% end %>
button next
<%= will_paginate @cards %>
