// Place all the styles related to the charges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pricing .col-md-4 {
	position: relative;
	background: #f9fafa;
	margin: 22px 0 15px;
	text-align: center;
	z-index: 1;
	-webkit-transition: border-color 300ms;
	-moz-transition: border-color 300ms;
	transition: border-color 300ms;
}

.col-md-4.left {
	border-left: 1px solid #DDD;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.col-md-4.middle {
	border: 1px solid #DDD;
}

.col-md-4.right {
	border-right: 1px solid #DDD;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.pricing-header {
	padding: 0.8125em 1.5625em;
	background: #f9fafa;
}

.pricing-plan {
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	-webkit-font-smoothing: auto;
	margin-bottom: 0.25em;
	font-size: 3.75em;
	color: black;
}

.header-price {
	font-size: 0.8125em;
	margin-bottom: 0.46154em;
	text-transform: uppercase;
	letter-spacing: .2em;
	font-family: "Brandon", Helvetica, Arial, sans-serif;
	font-weight: 900;
	-webkit-font-smoothing: antialiased;
}

.pricing-plan>span {
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	font-size: 16px;
}

.pricing-plan>abbr {
	font-size: 0.5em;
	line-height: 2em;
	vertical-align: top;
}

.pricing-plan-popular {
	font-family: "Brandon", Helvetica, Arial, sans-serif;
	font-weight: 900;
	-webkit-font-smoothing: antialiased;
	position: absolute;
	top: -22px;
	left: -1px;
	right: -1px;
	height: 44px;
	background: white;
	border: 1px solid #e5e5e5;
	border-radius: 3px 3px 0 0;
	font-size: 13px;
	line-height: 44px;
	letter-spacing: .2em;
	text-transform: uppercase;
}

.pricing-plan-popular.popular-heading:hover {
	border: 1px solid;
}

.popular-heading {
color: #ebb129;
}