// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#pins {
  margin: 0 auto;
}

.pins-box {
  margin: 5px;
  width: 350px;
}

.pins-box img {
  width: 100%;
}

.pricetag {
    white-space: nowrap;
    position: relative;
    display: block;
    height: 44px;
    width: 150px;
    border-radius: 0px 5px 5px 0px;
    padding: 8px 25px 0px 15px;
    background: none repeat scroll 0% 0% #e67e22;
    border: 1px solid #CF721F;
    color: #fff;
    line-height: 23px;
    margin: 0px auto;
}
.pricetag:after{
    position:absolute;
    right:0;
    margin:1px 7px;
    font-weight:bold;
    font-size:19px;
    content:"";
}
.pricetag:before {
    position: absolute;
    background: none repeat scroll 0% 0% #e67e22;
    content: "●";
    color: #FFF;
    text-shadow: 0px 0px 1px #CF721F;
    font-size: 20px;
    line-height: 25px;
    text-indent: 0px;
    top: 5px;
    left: -17px;
    width: 32px;
    height: 32px;
    transform: rotate(45deg);
    border-left: 1px solid #CF721F;
    border-bottom: 1px solid #CF721F;
}

.trial-box {
  margin-top: 80px;
}

// Social Buttons

.social {
  position: relative;
  width: 100%;
  top: 10px;
  text-align: center;
  // transform: translateY(-50%);
}

.social .link {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 2px dashed white;
  background-clip: content-box;
  padding: 10px;
  transition: .5s;
  color: #D7D0BE;
  margin-left: 15px;
  margin-right: 15px;
  text-shadow:
    0 -1px 0 rgba(0, 0, 0, 0.2),
    0 1px 0 rgba(255, 255, 255, 0.2);
  font-size: 30px;
}

.social .link span {
  display: block;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social .link:hover {
  padding: 10px;
  color: white;
  transform: rotate(360deg);
}

.social .link.google-plus {
  background-color: tomato;
  color: white;
}

.social .link.twitter {
  background-color: #00ACEE;
  color: white;
}

.social .link.facebook {
  background-color: #3B5998;
  color: white;
}

nav.share {display:inline-block; margin-top: 20px} /* shareable's nav tag */
nav.share div {float:left;}
#___plusone_0 {font-size: default !important;}
.fb_iframe_widget span { vertical-align: top; }
.fb_edge_widget_with_comment { vertical-align: top;}
.fb-like{display:inline-block; top: -4px; margin-right: 35px}
* html .fb-like{display:inline}/* ie6 inline block fix*/
*+html .fb-like{display:inline}/* ie7 inline block fix*/