@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700);
@import url(https://fonts.googleapis.com/css?family=Marvel:400,400italic,700);
@import url(https://fonts.googleapis.com/css?family=Wallpoet);

$navbar-border-radius: none;
$navbar-margin-bottom: none;
$navbar-height: 85px;
$navbar-padding-vertical: 10px;
$navbar-default-brand-hover-color: #1EB3E8;
$brand-primary: #1EB3E8;
$page-header-border-color: #D3D3D3;

@import "bootstrap-sprockets";
@import 'bootstrap';

body {
  background: #1EB3E8; /* Old browsers */
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
}

.paper > .row {
	border-bottom: 1px solid #D3D3D3;
  padding-bottom: 20px;
}

.big-bottom {
	padding: 0em 0 2em 0;
}

.center {
  text-align: center;
}

.center-block img {
  margin-left: auto;
  margin-right: auto;
}

.margin-fix {
  margin-left: auto;
  margin-right: auto;
}

.float-right {
  float: right;
}

.footer a {
  color: #F8F8F8;
}

.footer {
  color: #006A85;
}

/* End Sticky footer */

.jumbotron .logo {
width: 200px;
}

.jumbotron {
background: #7fd1ef; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #7fd1ef 0%, #1eb3e8 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#7fd1ef), color-stop(100%,#1eb3e8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  #7fd1ef 0%,#1eb3e8 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  #7fd1ef 0%,#1eb3e8 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  #7fd1ef 0%,#1eb3e8 100%); /* IE10+ */
background: linear-gradient(135deg,  #7fd1ef 0%,#1eb3e8 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7fd1ef', endColorstr='#1eb3e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.jumbotron h1 { color: #f8f8f8; margin-top: 104px}

.jumbotron p {
line-height: 1.4;
color: #005F94;
margin-top: 25px;
}

.logo img {
width: 135px;
}

a.navbar-brand {
font-family: 'Marvel', sans-serif;
}

ul.nav.navbar-nav.navbar-right {
margin-top: 22px;
}

/* Home page sign up */

.jumbotron .signup label {
font-size: 12px;
}

.signup {
  font-size: 16px;
  border: 1px solid rgba(255, 255, 255, 0.75);
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.8);
  padding: 19px;
  margin: 0 auto 25px auto;
  max-width: 650px;
  color: #5E5E5E;
  text-shadow: none;
  -moz-box-shadow: 0px 0px 10px #0088A2;
  -webkit-box-shadow: 0px 0px 10px #0088A2;
  box-shadow: 0px 0px 10px #0088A2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=0, Color='#F1F1F1')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=0, Color='#0088A2');
}

.signup h2 {
color: #005768;
font-size: 25px;
margin-bottom: 25px;
text-shadow: 0px 1px 0 #FFF;
}

.signup .btn, .signup-light .btn {
  min-width: 134px;
}

.signup .row, .signup-light .row {
  margin: 0;
}

.signup .col-md-4, .signup-light .col-md-4 {
  padding-right: 0;
}

.signup-light {
  font-size: 16px;
  border: 1px solid #D8D8D8;
  border-radius: 6px;
  background: #FCFCFC;
  padding: 19px;
  margin: 0 auto 25px auto;
  max-width: 65%;
  color: #5E5E5E;
  text-shadow: none;
  -moz-box-shadow: 0px 0px 10px #444;
  -webkit-box-shadow: 0px 0px 10px #444;
  box-shadow: 0px 0px 10px #F1F1F1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=0, Color='#F1F1F1')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=0, Color='#F1F1F1');
}

/* Bootstrap Fix */
.input-group {
    display: inline-table;
    vertical-align: middle;

    .input-group-addon,
    .input-group-btn,
    .form-control {
        width: auto !important;
    }
}

.tweet-center {
  margin: 0 auto;
}

.pronunciation-guide {
  background: #1EB3E8;
  color: #FFF;
  padding: 2em 1em;
  font-size: 1.5em;
  border: 5px solid #0097D1;
  margin-bottom: 25px;
}

/* Sign in page */
.maincontainer {
max-width: 50%;
min-width: 340px;
margin: 20px auto;
}

/* Paper effect */
.paper {
  position: relative;
  width: 100%;
  padding: 1em 3.5em 5em;
  margin: 2em auto;
  color: #2c3e50;
  background: #ecf0f1;
}

.paper:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 40px 40px 0;
  border-style: solid;
  border-color: #1EB3E8 #1EB3E8 #CAD9DA #CAD9DA;
  background: #ecf0f1;
  /* Firefox 3.0 damage limitation */
  display: block; width: 0;
}