// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-space {
	margin-top: 45px;
}

.points {
	background: #E67E22;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin: 0 auto;
	border: 6px solid #D35400;
	-webkit-box-shadow: 0 1px 1px rgba(138, 72, 0, 0.3), -1px 1px 1px rgba(138, 72, 0, 0.2);
	-moz-box-shadow: 0 1px 1px rgba(138, 72, 0, 0.3), -1px 1px 1px rgba(138, 72, 0, 0.2);
	box-shadow: 0 1px 1px rgba(138, 72, 0, 0.3), -1px 1px 1px rgba(138, 72, 0, 0.2);
}

.points p {
	color: white;
	font-size: 30px;
	padding-top: 43px;
	line-height: 26px;
	font-family: 'Roboto Slab', serif;
}

p.progress-label {
	float: right;
	font-family: 'Roboto Slab', serif;
}

h1.dictionary, h2.dictionary {
	font-family: 'Roboto Slab', serif;
}

.panel-default>.panel-heading-blue {
color: #fff;
background-color: #20b4e9;
border-color: #088EBE;
}

.panel-group .panel-heading-blue {
border-bottom: 0;
}

.panel-heading-blue {
padding: 10px 15px;
border-bottom: 1px solid transparent;
border-top-right-radius: 3px;
border-top-left-radius: 3px;
}

.img-circle {
border-radius: 50%;
border: 10px solid rgb(224, 224, 224);
}

.skinnier {
width: 90%;
margin: 0 auto;
}

.skinnier p {
margin-bottom: 20px;
}