// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-space {
	margin-top: 45px;
}

.points {
	background: #E67E22;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin: 0 auto;
	border: 6px solid #D35400;
	-webkit-box-shadow: 0 1px 1px rgba(138, 72, 0, 0.3), -1px 1px 1px rgba(138, 72, 0, 0.2);
	-moz-box-shadow: 0 1px 1px rgba(138, 72, 0, 0.3), -1px 1px 1px rgba(138, 72, 0, 0.2);
	box-shadow: 0 1px 1px rgba(138, 72, 0, 0.3), -1px 1px 1px rgba(138, 72, 0, 0.2);
}

.points p {
	color: white;
	font-weight: 900;
	font-size: 30px;
	padding-top: 43px;
	line-height: 26px;
}

p.progress-label {
	float: right;
}