// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Homepage Styling */

.home-container {
	padding: 4em 2em;
}

.home-brand {
	margin: 0 auto;
}

.masthead {
	position: relative;
	padding: 30px 15px;
	color: #ABDEF0;
	text-align: center;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	background-color: #1EB3E8;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#1EB3E8),to(#3DBDEB));
	background-image: -webkit-linear-gradient(top,#1EB3E8 0,#3DBDEB 100%);
	background-image: -o-linear-gradient(top,#1EB3E8 0,#3DBDEB 100%);
	background-image: linear-gradient(to bottom,#1EB3E8 0,#3DBDEB 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1EB3E8', endColorstr='#3DBDEB', GradientType=0);
	background-repeat: repeat-x;
}

.masthead .lead {
	width: 80%;
	font-size: 30px;
	margin: 0 auto 30px;
	color: #FFF;
}

.featurette-text-left {
padding-top: 40px;
padding-bottom: 40px;
padding-left: 40px;
padding-right: 40px;
font-size: 16px;
line-height: 1.5;
color: #555;
background-color: #FFF;
border-bottom: 1px solid #E5E5E5;
}

.featurette {
padding-top: 40px;
padding-bottom: 40px;
font-size: 16px;
line-height: 1.5;
color: #555;
text-align: center;
background-color: #FFF;
border-bottom: 1px solid #E5E5E5;
}

.featurette-title-center {
margin-bottom: 5px;
font-size: 40px;
font-weight: 400;
color: #333;
text-align: center;
}

.featurette-title {
margin-bottom: 5px;
font-size: 40px;
font-weight: 400;
color: #333;
}

.featurette .lead {
max-width: 80%;
margin-right: auto;
margin-left: auto;
}

.featurette-text-left .lead {
max-width: 80%;
margin-right: auto;
margin-left: auto;
text-align: center;
}

.skinny {
	max-width: 900px;
	margin: 0 auto;
}

.featurette .row .col-sm-4 img {
	margin: 0 auto;
}

h2.featurette-title {
	margin-bottom: 5px;
	font-size: 40px;
	font-weight: 400;
	color: #333;
}

.featurette .ebook {
	margin: 0 auto;
}

.lead {
	margin-bottom: 20px;
	font-size: 21px;
	font-weight: 300;
	line-height: 1.4;
}

.half-rule {
	width: 100px;
	margin: 40px auto;
}

.testimonial-item.col-md-6 {
	width: 47%;
	margin-right: 10px;
}

.testimonial-items {
	text-align: center;
}

.testimonial-item {
	position: relative;
	margin-bottom: 8.75em;
	padding: 1.375em 2.25em 3em;
	background-color: #F9FAFA;
	border: 1px solid #E5E5E5;
}

.testimonial-item:before {
	font-family: "Brandon", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: auto;
	content: '\201C';
	display: block;
	height: 85px;
	font-size: 10em;
	color: #E5E5E5;
	float: left;
	/* position: relative; */
	margin-left: -30px;
	margin-top: -57px;
}

.testimonial-item__author {
	position: absolute;
	width: 100%;
	top: 100%;
	left: 0;
	margin-top: -37px;
}

.testimonial-item__avatar {
	width: 75px;
	height: 75px;
	margin: 0 auto 14px;
	overflow: hidden;
	border: 2px solid #E5E5E5;
	border-radius: 40px;
}

.testimonial-item__avatar img {
	width: 75px;
	height: 75px;
}

.segment-quote {
	border-color: #EBB129;
}