<h1>Chages</h1>


<%= form_tag charges_path do |form| %>
	<%= hidden_field :charges, :plan_type, value: "monthly" %>
  <article>
	  <h3>Monthly</h3>
    <label class="amount">
      <span>Amount: $5.00</span>
    </label>
  </article>
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_foo"
    data-amount="500"
    data-name="Demo Site"
    data-description="Monthly Billing"
    data-image="/128x128.png">
  </script>
<% end %>

<!-- <h3>Yearly</h3>
<form action="/charges" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_foo"
    data-amount="999"
    data-name="Demo Site"
    data-description="Monthly Billing"
    data-image="/128x128.png">
  </script>
</form>

<h3>Lifetime</h3>
<form action="/charges" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_foo"
    data-amount="1000000"
    data-name="Demo Site"
    data-description="Lifetime Billing"
    data-image="/128x128.png">
  </script>
</form> -->