<div class="center">
  <h2 class="dictionary">Bonuses and Extras</h2>
</div>

<div class="row top-space">

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img width="200px" src="https://dl.dropboxusercontent.com/s/cd1hkv4s7kaas3h/tweet-speak-better-listening-ebook-cover.jpg?dl=0" alt="...">
      <div class="caption">
        <h3><small>Ebook</small><br>4 Steps to Better Listening</h3>
        <p>Listening skills are not usually the focus for early learners in schools, so we don't learn how to improve our listening skills. This ebook gives you four steps you can work on to improve your English listening. It comes with the audio book as well.</p>
        <p><a href="http://tweetspeakenglish.com/be-a-great-listener.zip" class="btn btn-primary" role="button">Download</a></p>
        <p><a href="http://tweetspeakenglish.com/Be-a-Great-English-Listener-%E6%97%A5%E6%9C%AC%E8%AA%9E.pdf" class="btn btn-success" role="button">Download（日本語）</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img width="200px" src="https://dl.dropboxusercontent.com/s/nxgqn4e82ka37fl/tweet-speak-improve-spoken-ebook-cover.jpg?dl=0" alt="...">
      <div class="caption">
        <h3><small>Ebook</small><br>How to Improve Spoken English</h3>
        <p>This book is a collection of interviews I did to ask other experienced teachers and English speakers one question – How do you think people can improve spoken English?</p>
        <p><a href="http://tweetspeakenglish.com/Tweet-Speak-Improve-Spoken-English-Ebook-2014.pdf" class="btn btn-primary" role="button">Download</a> </p>
      </div>
    </div>
  </div>

</div>