<div class="center">
	<a class="btn btn-link" href="/pages/about">About</a>
	<a class="btn btn-link" href="/pages/contact">Contact</a>
	<p><%= "Copyright" + " " + Date.today.strftime("%Y").to_s %></p>
</div>